In [1]:
import pandas as pd
import altair as alt
import numpy as np
import sqlite3

# Create DataBase and Add Table

In [2]:
conn = sqlite3.connect('Netflix.db')

cur = conn.cursor()

# cur.execute("""CREATE TABLE nflx (
#     date string,
#     low float,
#     open float,
#     volume integer,
#     high float,
#     close float
# )""")

# Fill Table

In [12]:
path = 'C:/Users/Blake Dennett/Downloads/Spring2023/appliedProgramming/Data/stock_market_data/sp500/csv/j-p/nflx.csv'
df = pd.read_csv(path)
# iterate through each row of dataframe
for r in df.iterrows():
    row = r[1].tolist()
    to_insert = tuple(row[0:6])
    # add row into db
    # cur.execute(f"INSERT INTO nflx VALUES {to_insert}")

conn.commit()

five_rows = pd.read_sql_query( 
    'SELECT * FROM nflx LIMIT 5',
    conn)

five_rows

         date       low      open     volume      high     close
0  23-05-2002  1.145714  1.156429  104790000  1.242857  1.196429
1  24-05-2002  1.197143  1.214286   11104800  1.225000  1.210000
2  28-05-2002  1.157143  1.213571    6609400  1.232143  1.157143
3  29-05-2002  1.085714  1.164286    6757800  1.164286  1.103571
4  30-05-2002  1.071429  1.107857   10154200  1.107857  1.071429

# Deleting Duplicate Data

In [18]:
cur.execute("DELETE FROM nflx WHERE date NOT IN (SELECT MIN(date) FROM nflx GROUP BY date);")

# Filtering Data

In [19]:
cur.execute("SELECT * FROM nflx WHERE date = '23-05-2002'")
cur.fetchall()

[('23-05-2002',
  1.1457140445709229,
  1.1564290523529053,
  104790000,
  1.2428569793701172,
  1.1964290142059326),
 ('23-05-2002',
  1.1457140445709229,
  1.1564290523529053,
  104790000,
  1.2428569793701172,
  1.1964290142059326),
 ('23-05-2002',
  1.1457140445709229,
  1.1564290523529053,
  104790000,
  1.2428569793701172,
  1.1964290142059326)]